#add-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20%;
    margin: 0% 0% 0% 71%;
}

#add-img {
    background-image: url('sale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30% 35%;
    margin: 3% 14%;
}